body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav{
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

nav ul{
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

a{
    list-style: none;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
}
.main__section{
    background-color: #f4f4f4;
    padding: 20px;
    height: 100px;

}

.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: 100%;
    width: 100%;
}

.info img{
    width: 50%;
    border-right: 1px solid #333;
    height: 100%;
    object-fit: cover;
}

.info desc{
    text-align: justify;
}
.desc h1{
    font-size: 2rem;
    color: blue;
}

.cards{
    display: flex;
    flex-direction: row;
    background-color: #ccc;
    gap: 20px;
    padding: 20px;
}

.card{
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
}

